.tag {
    float:left;
    margin: 0.1rem 0 0 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
    border-bottom: 1px solid var(--main-gray-transparent-color);
    border-right: 1px solid var(--main-gray-transparent-color);
}
.tag:hover {
    box-shadow: -1px -1px 1px 1px rgba(0, 0, 0, 0.2);
}
