.tag-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continiousDiagram {
    width:90%;
    height:90%;
    overflow:auto;
}

.kerberosDiagram {
    width:90%;
    height:90%;
    overflow:auto;
}