.favorite--card {
    width: 24%;
    height: 300px;
    overflow: auto;
    padding: 2px;
    float:left;
    border: 1px solid var(--main-white-dark-color);
    cursor: pointer;
    margin: 1px;
}
.favorite--card:hover {
    border: 1px solid var(--main-gray-transparent-color);
}

.card--delete-btn {
    float:right;
    border: none;
    background-color: var(--main-white-dark-color);
    cursor: pointer;
}

.card--delete-btn:hover {
    background-color: var(--main-red-color);
}