.header {
    display:flex;
    flex-direction: row;
    padding: 1rem;
    border-bottom: 1px solid var(--main-gray-transparent-color);
}
.header--left-side {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header--right-side {
    width: 50%;
    display: flex;
    justify-content:space-around;
}
.right-side--link-to-about {
    background-color: var(--main-white-dark-color);
    border-radius: 0.3rem;
    padding: 5px;
}
.right-side--toggleModeBtn {
    align-self: flex-end;
    color:white;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 0.2rem;
}