.home {
    width: 100%;
    min-height: 100%;
}
.home--body {
    display:flex;
    flex-direction: row;
}
.body--right-side {
    width:75%;
    border-bottom: 1px solid var(--main-gray-transparent-color);
}