@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

html, body {
    font-family: 'Roboto-Regular';
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

:root {
    --main-gray-transparent-color: rgba(0, 0, 0, 0.12);
    --main-gray-dark-color: rgb(82, 84, 82);
    --main-white-dark-color: rgb(250, 246, 246);
    --main-black-light-color: rgb(57, 56, 56);
    --main-black-transparent-color: rgba(14, 14, 14, 0.836);
    --main-red-color: red;
    --main-blue-light: rgb(2, 130, 249);
}

code {
    color: var(--main-blue-light);
}


