<ul>
  <li>Уменьшение количества запросов к серверу</li>
  <li>Использование алгоритмов для ьыстрой работы функций</li>
  <li>Выбор библиотек сс хорошим рейтингом, быстродействием и безопасностью</li>
  <li>
    Проводить оптимизации в конце разработки фичи, так как они могут сделать код менее читаемым
  </li>
  <ul>
    Для client side:
    <li>Optimization page loading</li>
    <li>
      правильный порядок загрузки статических файлов и хранение их на content delivery netwroks
      (CDN, cloudflare, amazon aws, Fstly...)
    </li>
    <li>Bundle files together (объединение файлов)</li>
    <li>Minifying</li>
    <li>Optimization of images</li>
    <li>Removing duplicate code</li>
    <li>Optimization of styles</li>
    <li>кеширование файлов, Lazy Loading</li>
  </ul>
  <ul>
    Для server side:
    <li>Optimization of database queries</li>
    <li>Optimization of speed exequting requet etc...</li>
  </ul>
</ul>
